<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<h2>Previous clock ins:</h2>
<div id="all_clock_times">
  <%
     @currently_working = nil
     count_of_weeks = 1

  %>
  <% for clock_time_week in @clock_times_by_week.values %>
        <div id="week<%= count_of_weeks %>" class="week_wrapper">
        <b>Clock Times for week #<%= count_of_weeks %></b>

        <% for clock_time in clock_time_week %>
            <%= render :partial => 'display_clock_time',
                     :locals => {:clock_time => clock_time} %>
        <% end %>

        <% count_of_weeks+=1 %>
        </div>
  <% end %>

  <a href="#" onclick="show_all_weeks();">Show All Weeks</a> <br/> <br/>
  <a href="#" onclick="hide_all_except_last_week();">Hide All Except Most Current</a>

  <script type="text/javascript">
        function hide_all_except_last_week(){
            var re = /week\d+/
            var divs=document.getElementsByTagName('div')
            for (var i=0;i<divs.length;i++){
                week_int = parseInt(divs[i].id.replace("week", ""))
              if (re.test(divs[i].id) && week_int != <%= count_of_weeks - 1 %>) {
                  divs[i].style.display = "none";
              }
            }
        }

        function show_all_weeks() {
            var re = /week\d+/
            var divs=document.getElementsByTagName('div')
            for (var i=0;i<divs.length;i++){
              if (re.test(divs[i].id) && divs[i].style.display == "none") {
                  divs[i].style.display = "block";
              }
            }
        }

        hide_all_except_last_week();
  </script>

</div>
<br/>

<% if (@currently_working.nil?) %>
    <%= link_to 'Clock in', new_user_clock_time_path(@user) %>
<% else %>
    <%= link_to 'Clock out', edit_user_clock_time_path(@user, @currently_working, :clock_out => 'true') %>
<% end %>
----------
<%= render 'input_popup' %>
----------
<br/>
<br/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
